#body {
    background-color: rgb(129,236,98);
}
#title{
	
	background-color: rgb(77,63,104);
}
#compass{
	width:100%;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	    display: block;
    margin-left: auto;
    margin-right: auto;
}
